
{% load static %}
<nav class="navbar navbar-expand-lg bg-dark fixed-top">
                        <div class="container">
                            <a class="navbar-brand font-weight-bold" href="{% url 'blog:main' %}">
                                <span class="nav-text text-dark">Jose R. Dominguez</span>
                            </a>
                            <span class="badge badge-pill badge-light text-dark  tech-font m-2">Shop</span>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="ml-auto navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                                    <li><a class="nav-link font-weight-bold" href="{% url 'blog:main' %}"><span class="nav-text text-dark">Home</span></a></li>
                                    <li><a class="nav-link font-weight-bold" href="{% url 'blog:resume' %}"><span class="nav-text text-dark">Resume</span></a></li>
                                    <li><a class="nav-link font-weight-bold" href="{% url 'blog:services' %}"><span class="nav-text text-dark">Services</span></a></li>
                                    <li><a class="nav-link font-weight-bold" href="{% url 'blog:posts-by-tag' 'Case-Studies' %}"><span class="nav-text text-dark">Projects</span></a></li>
                                    <li><a class="nav-link font-weight-bold" href="{% url 'blog:content' %}"><span class="nav-text text-dark">Content</span></a></li>
                                    <li><a class="nav-link font-weight-bold" href="{% url 'store:store-home' %}"><span class="nav-text text-dark">Shop</span></a></li>
                                    <li class="nav-item">
                                <div class="form-check form-switch mt-2">
                                    <label class="form-check-label" for="lightSwitch"> <span class="text-gradient">Dark Mode</span> </label>
                                    <input class="form-check-input ml-2" type="checkbox" id="lightSwitch" />
                                  </div>
                                <script src="{% static 'js/switch.js' %}"></script>
                            </li>
                                </ul>
                            </div>
                        </div>
</nav>