<section class="py-5" id="contact">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="row gx-5 justify-content-center mb-5">
                            <div class="text-center mb-5">
                                <h1 class="fw-bolder text-gradient mt-5">Ready to support your next project.</h1>
                                <p class="lead fw-normal text-muted mb-0">
                                    Open to collaboration and project inquiries.
                                </p>
                            </div>
                        </div>
                        <div class="row gx-5 justify-content-center mb-5">
                            <div class="col-lg-8 col-xl-6">
                            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder m-2" href="{% url 'blog:services' %}">
                                Start a Project Conversation
                            </a>
                            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder m-2" href="tel:+18628034630">Call Now</a>
                            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder m-2" href="/jose-dominguez.vcf" download="Jose-Ramon-Dominguez.vcf">Save Contact</a>
                            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder m-2" href="#">Schedule a Meeting</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>