{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Jose Ramon Dominguez</title>
        <script type='text/javascript' src='https://platform.linkedin.com/badges/js/profile.js' async defer></script>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon-profile.ico' %}" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/style2.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style3.css' %}" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/8c746061a5.js" crossorigin="anonymous"></script>
        
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-transparent">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'blog:main' %}"><span class="fw-bolder"><span class="nav-text text-gradient">Jose R. Dominguez</span></span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="bi bi-list text-light"></i></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <!--<li class="nav-item"><a class="nav-link nav-text text-dark font-weight-bold" href="{% url 'blog:main' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link nav-text text-dark font-weight-bold" href="{% url 'blog:resume' %}">Resume</a></li>
                            <li class="nav-item"><a class="nav-link nav-text text-dark font-weight-bold" href="{% url 'blog:services' %}">Services</a></li>
                            <li class="nav-item"><a class="nav-link nav-text text-dark font-weight-bold" href="{% url 'blog:posts-by-tag' 'Case-Studies' %}">Projects</a></li>
                            <li class="nav-item"><a class="nav-link nav-text text-dark font-weight-bold" href="{% url 'blog:content' %}">Content</a></li>
                            <li class="nav-item"><a class="nav-link nav-text text-dark font-weight-bold" href="{% url 'store:store-home' %}">Shop</a></li>-->
                            <li class="nav-item">
                                <div class="form-check form-switch mt-2">
                                    <label class="form-check-label" for="lightSwitch"> <span class="text-gradient">Dark Mode</span> </label>
                                    <input class="form-check-input ml-2" type="checkbox" id="lightSwitch" />
                                  </div>
                                <script src="{% static 'js/switch.js' %}"></script>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
                <div class="container py-5">
                    {% include 'blog/back_button.html' %}
                    <div class="row gx-5 align-items-center">
                        <div class="col-xxl-6">
                            <div class="text-center text-xxl-start py-5">
                                <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Data &middot; Research &middot; Business</div></div>
                                <div class="fs-3 fw-light text-muted">I help teams with</div>
                                <h1 class="display-4 fw-bolder mb-5"><span class="text-gradient d-inline" id="headerText"></span></h1>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                    <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'blog:resume' %}">Resume</a>
                                    <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{% url 'blog:posts-by-tag' 'Case-Studies' %}">Projects</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6">
                            <div class="d-flex justify-content-center">
                                <div class="profile bg-gradient-primary-to-secondary">
                                    <img class="profile-img img-fluid" src="{% static 'assets/profile2.2.png' %}" alt="..." />
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            <!-- About Section-->
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xxl-8">
                            <div class="text-center my-5">
                                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Background</span></h2>
                                <p class="lead text-muted mb-4">Data engineer building scalable data platforms and intelligent applications.</p>
                                <p class="text-muted">I am a data analytics engineer and software developer who designs scalable cloud-based data platforms, ELT pipelines, and backend systems using Python, SQL, Azure, and AWS, helping research institutions, startups, and enterprises transform complex data into reliable infrastructure, analytics, and applications that drive operational efficiency and informed decision-making.</p>
                                <div class="d-flex justify-content-center fs-2 gap-4">
                                    <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
                                    <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
                                    <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- Articles Section-->
            <div class="container p-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-xxl-12">
                            <div class="text-center my-5">
                                <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Recent Work</span></h2>
                                <p class="lead text-primary mb-4 py-5">View my latest work as it relates to software, data, science and other topics.</p>
                                <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder text-white mb-5" href="{% url 'blog:content' %}">View All</a>
                            </div>
                            {% for post in posts %}
                                {% for tag in post.tag %}
                                    {% if tag == "Featured" %}
                            <div class="card mb-4">
                                <div class="card-body p-0">
                                    <div class="row g-0">
                                        <div class="col-lg-6 p-5">
                                            <a class="badge badge-marketing bg-primary-soft rounded-pill text-primary mb-3" href="{% url 'blog:post-detail' post.id %}">{{ post.get_tag_display }}</a>
                                            <a class="text-dark" href="{% url 'blog:post-detail' post.id %}"><h1>{{ post.title }}</h1></a>
                                            <p class="text-dark">{{ post.get_shorten_preview }}</p>
                                            <a class="text-arrow-icon small" href="{% url 'blog:post-detail' post.id %}">
                                                Read more
                                                <i data-feather="arrow-right"></i>
                                            </a>
                                        </div>
                                        <div class="col-lg-6 align-self-stretch bg-img-cover d-none d-lg-flex" style="background-image: url({{ post.featured_image.url }})"></div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
            </div>
            <!-- Contact -->
            {% include 'blog/contact_section.html' %}
        </main>
        <!-- Footer-->
        <!--<footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto">
                        <a class="small" href="#!">Privacy</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Terms</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#contact">Contact</a>
                    </div>
                </div>
            </div>
        </footer>-->
        <!-- Typed Javascript Package -->
        <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
        <script>
            let typingText = new Typed("#headerText",{
                strings : ["Data Engineering", "Analtyics and Visualization", "Scientific Research",
                            "Application Development", "IT Consulting"],
                loop : true,
                typeSpeed : 50,
                backSpeed : 50,
                backDelay : 1000
            }
            );
        </script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://www.twilik.com/assets/retainable/rss-embed/retainable-rss-embed.js"></script>
        <!--
        
        <div class='LI-profile-badge' data-version='v1' data-size='medium' data-locale='en_US' data-type='horizontal' data-theme='dark' data-vanity='josedom'>
                                <a class='LI-simple-link' href='https://in.linkedin.com/in/josedom?trk=profile-badge'></a>
                                </div>
        
        -->
    </body>
</html>