{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav %}
{% include 'blog/nav_content.html' %}
{% endblock nav %}

{% block content %}
<section class="py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="single-post">
                    <h1 class="text-center display-3 font-weight-bold"><span class="text-gradient">{{ object.title }}</span></h1>
                    <div class="container">
                        <div class="badge badge-pill badge-light text-dark text-wrap p-5 my-5">{{ object.preview }}</div>
                    </div>
                    
                    <div class="d-flex align-items-center justify-content-between mb-5">
                        <div class="single-post-meta mr-4">
                            <img class="single-post-meta-img" src="{{ object.author.profile.image.url }}" />
                            <div class="single-post-meta-details">
                                <div class="single-post-meta-details-name">{{ object.author.first_name }} {{ object.author.last_name }}</div>
                                <div class="single-post-meta-details-date">{{ object.date_posted }} &middot; Read Time ~ {{ object.read_time }} minutes</div>
                            </div>
                        </div>
                        {{ share_string }}
                        <div class="single-post-meta-links">
                            <a href="https://twitter.com/intent/tweet/?text=Check%20out%20this%20article&url={{ request.build_absolute_uri }}&via=digitalstduio&hashtags=web,development">
                                <i class="fab fa-twitter fa-fw"></i>
                            </a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                                <i class="fab fa-facebook-f fa-fw"></i>
                            </a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title=Check%20out%20this%20article&source={{ request.build_absolute_uri }}&summary=digital%20studio">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <img id="featured-image" class="img-fluid mb-2" src="{{ object.featured_image.url }}" />
                    <div class="single-post-text my-5">
                        <div class="content-markdown">
                            {{ object.content|safe }}
                        </div>
                        <hr class="my-5" />
                        {% if object.author == request.user %}
                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-primary btn-marketing btn-block rounded-pill mt-4" href="{% url 'blog:post-update' object.id %}">Update</a>
                                <a class="btn btn-danger btn-marketing btn-block rounded-pill mt-4" href="{% url 'blog:post-delete' object.id %}">Delete</a>
                            </div>
                        </div>
                        <hr class="my-5" />
                        {% endif %}
                        <div class="text-center"><a class="btn btn-dark btn-marketing rounded-pill" href="{% url 'blog:content' %}">Back to Blog</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}