{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
{{ object.title }}
{% endblock title %}

{% block content %}
<section class="bg-light py-10 mt-5">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="single-post">
                    <h1 class="mb-5 text-center display-3 font-weight-bold">{{ object.title }}</h1>
                    <p class="text-dark mb-5">{{ object.preview }}</p>
                    <div class="d-flex align-items-center justify-content-between mb-5">
                        <div class="single-post-meta mr-4">
                            <img class="single-post-meta-img" src="{{ object.author.profile.image.url }}" />
                            <div class="single-post-meta-details">
                                <div class="single-post-meta-details-name">{{ object.author.first_name }} {{ object.author.last_name }}</div>
                                <div class="single-post-meta-details-date">{{ object.date_posted }} &middot; Read Time ~ {{ object.read_time }} minutes</div>
                            </div>
                        </div>
                        {{ share_string }}
                        <div class="single-post-meta-links">
                            <a href="https://twitter.com/intent/tweet/?text=Check%20out%20this%20article&url={{ request.build_absolute_uri }}&via=digitalstduio&hashtags=web,development">
                                <i class="fab fa-twitter fa-fw"></i>
                            </a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                                <i class="fab fa-facebook-f fa-fw"></i>
                            </a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title=Check%20out%20this%20article&source={{ request.build_absolute_uri }}&summary=digital%20studio">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <img class="img-fluid mb-2" src="{{ object.featured_image.url }}" />
                    <div class="single-post-text my-5">
                        <div class="content-markdown text-dark">
                            {{ object.content }}
                        </div>
                        <hr class="my-5" />
                        {% if object.author == request.user %}
                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-primary btn-marketing btn-block rounded-pill mt-4" href="{% url 'blog:post-update' object.id %}">Update</a>
                                <a class="btn btn-danger btn-marketing btn-block rounded-pill mt-4" href="{% url 'blog:post-delete' object.id %}">Delete</a>
                            </div>
                        </div>
                        <hr class="my-5" />
                        {% endif %}
                        <div class="text-center"><a class="btn btn-dark btn-marketing rounded-pill" href="{% url 'blog:home' %}">Back to Blog</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-waves text-dark">
        <svg class="wave" style="pointer-events: none" fill="currentColor" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
            <defs>
                <style>
                    .a {
                        fill: none;
                    }
                    .b {
                        clip-path: url(#a);
                    }
                    .d {
                        opacity: 0.5;
                        isolation: isolate;
                    }
                </style>
                <clippath id="a"><rect class="a" width="1920" height="75"></rect></clippath>
            </defs>
            <title>wave</title>
            <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
            <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
            <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
            <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
        </svg>
    </div>
</section>
{% endblock %}