{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
{{ object.title }}
{% endblock title %}

{% block content %}
<header class="page-header page-header-dark bg-dark bg-img-cover overlay overlay-dark overlay-80" style='background-image: url({% static "assets/img/code_header.jpeg" %})'>
    <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 text-center m-auto align-items-center">
                    <div data-aos="fade-up">
                        <div class="row justify-content-center m-auto">
                            
                            <div class="icon-list-social mb-5">
                                <a class="icon-list-social-link text-white" href="https://www.instagram.com/digitalstudio.dev/">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a class="icon-list-social-link text-white" href="https://www.facebook.com/digitalstudio.dev/">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a class="icon-list-social-link text-white" href="https://github.com/digitalstudiodev">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a class="icon-list-social-link text-white" href="https://www.linkedin.com/company/digitalstudio-dev/">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a class="icon-list-social-link text-white" href="https://medium.com/digital-studio-stream">
                                    <i class="fab fa-medium"></i>
                                </a>
                                <a class="icon-list-social-link text-white" href="https://www.youtube.com/channel/UCjFGpMrV6GVAYIXG_lbX45g">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="svg-border-rounded text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
  </header>
<section class="bg-light py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="single-post">
                    <h1 class="text-center display-3 font-weight-bold">{{ object.title }}</h1>
                    <p class="text-dark">{{ object.preview }}</p>
                    <div class="d-flex align-items-center justify-content-between mb-5">
                        <div class="single-post-meta mr-4">
                            <img class="single-post-meta-img" src="{{ object.author.profile.image.url }}" />
                            <div class="single-post-meta-details">
                                <div class="single-post-meta-details-name">{{ object.author.first_name }} {{ object.author.last_name }}</div>
                                <div class="single-post-meta-details-date">{{ object.date_posted }} &middot; Read Time ~ {{ object.read_time }} minutes</div>
                            </div>
                        </div>
                        {{ share_string }}
                        <div class="single-post-meta-links">
                            <a href="https://twitter.com/intent/tweet/?text=Check%20out%20this%20article&url={{ request.build_absolute_uri }}&via=digitalstduio&hashtags=web,development">
                                <i class="fab fa-twitter fa-fw"></i>
                            </a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
                                <i class="fab fa-facebook-f fa-fw"></i>
                            </a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title=Check%20out%20this%20article&source={{ request.build_absolute_uri }}&summary=digital%20studio">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <img class="img-fluid mb-2" src="{{ object.featured_image.url }}" />
                    <div class="single-post-text my-5">
                        <div class="content-markdown text-dark">
                            {{ object.content }}
                        </div>
                        <hr class="my-5" />
                        {% if object.author == request.user %}
                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-primary btn-marketing btn-block rounded-pill mt-4" href="{% url 'blog:post-update' object.id %}">Update</a>
                                <a class="btn btn-danger btn-marketing btn-block rounded-pill mt-4" href="{% url 'blog:post-delete' object.id %}">Delete</a>
                            </div>
                        </div>
                        <hr class="my-5" />
                        {% endif %}
                        <div class="text-center"><a class="btn btn-dark btn-marketing rounded-pill" href="{% url 'blog:content' %}">Back to Blog</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}