{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dominguez Dev Studio</title>
        <link href="{% static 'css/style2.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style3.css' %}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
        <style>
            .tech-font {
                font-family: 'Share Tech Mono', monospace;
            }

            .wrapper {
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            }

            .wrapper .track {
            display: flex;
            width: max-content;

            /* GPU acceleration */
            will-change: transform;
            transform: translate3d(0,0,0);

            /* animation: duration | timing | delay | iteration | direction | name */
            animation: 40s linear 0s infinite alternate scrollSideToSide;
            }

            /* pause on hover */
            .wrapper:hover .track {
            animation-play-state: paused;
            }

            .wrapper .badge {
            flex: 0 0 auto;
            width: 30%;
            margin-right: 2vw;
            }


            /* side-to-side animation */
            @keyframes scrollSideToSide {

            0% {
                transform: translate3d(0, 0, 0);
            }

            100% {
                transform: translate3d(-50%, 0, 0);
            }

        }
        </style>
        <!-- font awesome icons -->
        <script src="https://kit.fontawesome.com/8c746061a5.js" crossorigin="anonymous"></script>
        <script>
            const checkbox = document.getElementById("checkbox")
            checkbox.addEventListener("change", () => {
            document.body.classList.toggle("dark")
            })

            const track = document.querySelector('.track');

            track.addEventListener('touchstart', () => {
            track.style.animationPlayState = 'paused';
            });

            track.addEventListener('touchend', () => {
            track.style.animationPlayState = 'running';
            });
        </script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    {% include "blog/nav_services.html" %}
                    <header class="page-header page-header-dark bg-dark bg-img-cover overlay overlay-dark overlay-80" style='background-image: url({% static "assets/img/newark.jpg" %})'>
                        <div class="page-header-ui-content">
                            <div class="container px-5 my-5">
                                <div class="row gx-5 justify-content-center align-items-center">
                                    <div class="col-lg-12 p-3" data-aos="fade-right">
                                        <h1 class="page-header-ui-title display-4 mt-2 mb-5 text-white">Scalable Software & Data Systems.<br><span class="font-weight-bold">Built Right.</span></h1>
                                        <p class="text-white">Web applications, backend infrastructure, and analytic pipelines engineered for performance and growth.</p>
                                        <div class="icon-list-social mb-5 mx-auto" data-aos="fade-up" data-aos-delay="100">
                                            <a class="icon-list-social-link" href="https://www.instagram.com/digitalstudio.dev/">
                                                <i class="fab fa-instagram" style="color: white !important;"></i>
                                            </a>
                                            <a class="icon-list-social-link" href="https://www.facebook.com/digitalstudio.dev/">
                                                <i class="fab fa-facebook" style="color: white !important;"></i>
                                            </a>
                                            <a class="icon-list-social-link" href="https://github.com/digitalstudiodev">
                                                <i class="fab fa-github" style="color: white !important;"></i>
                                            </a>
                                            <a class="icon-list-social-link" href="https://www.linkedin.com/company/digitalstudio-dev/">
                                                <i class="fab fa-linkedin" style="color: white !important;"></i>
                                            </a>
                                            <a class="icon-list-social-link" href="https://medium.com/digital-studio-stream">
                                                <i class="fab fa-medium" style="color: white !important;"></i>
                                            </a>
                                            <a class="icon-list-social-link" href="https://www.youtube.com/channel/UCjFGpMrV6GVAYIXG_lbX45g">
                                                <i class="fab fa-youtube" style="color: white !important;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 z-1" data-aos="fade-left">
                                        <!--<div class="card rounded-3 text-dark">
                                            <div class="card-header py-4 text-black">Need a Custom Software? Tell us about Your project</div>
                                            <div class="card-body">
                                                <form action="https://formspree.io/f/xwkzyyvz" method="POST">
                                                    <div class="row gx-5 mb-3">
                                                        <div class="col-md-6">
                                                            <label class="small text-gray-600" for="leadCapFirstName">First Name</label>
                                                            <input class="form-control" id="leadCapFirstName" type="text" name="first_name" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="small text-gray-600" for="leadCapLastName">Last Name</label>
                                                            <input class="form-control" id="leadCapLastName" type="text" name="last_name" />
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="small text-gray-600" for="leadCapEmail">Email address</label>
                                                        <input class="form-control" id="leadCapEmail" type="email" name="email" />
                                                    </div>
                                                    <div class="mb-4">
                                                        <label class="small text-gray-600" for="leadCapCompany">Company or Organization</label>
                                                        <input class="form-control" id="leadCapCompany" type="text" name="company" />
                                                    </div>
                                                    <div class="d-grid"><button class="btn btn-primary fw-500 btn-marketing" type="submit">Let's Connect</button></div>
                                                </form>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="wrapper mb-5">
                                    <div class="track">
                                        <div class="badge">
                                            <div class="card">
                                                <div class="card-header text-dark text-wrap text-center">
                                                    Data Engineering & Pipeline Development
                                                </div>
                                                <div class="card-body">
                                                    <small class="text-dark text-wrap">Design and implement scalable ELT/ETL pipelines that ingest, transform, and operationalize data from APIs, databases, and third-party platforms into analytics-ready systems.</small>
                                                    <hr>
                                                    <small class="text-dark text-wrap">Deliverables: Automated pipelines, data warehouses, transformation logic, scheduled workflows.</small>
                                                    
                                                </div>
                                                <div class="card-footer">
                                                    <!--<a class="btn-primary btn px-4 ml-lg-4" href="#">Learn More</a>-->
                                                    <button type="button" class="btn btn-sm bg-dark text-white" data-toggle="modal" data-target="#DataEngineeringPipelineDevelopment"><small>Learn More</small></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="badge">
                                            <div class="card">
                                                <div class="card-header text-dark text-wrap text-center">
                                                    Cloud Data Platform Architecture
                                                </div>
                                                <div class="card-body">
                                                    <small class="text-dark text-wrap">Build secure, production-grade data infrastructure on Azure and AWS, including relational databases, storage layers, and compute environments optimized for performance and scalability.</small>
                                                    <hr>
                                                    <small class="text-dark text-wrap">Deliverables: Cloud architecture, Azure SQL / AWS RDS deployments, storage design, infrastructure automation.</small>
                                                    
                                                </div>
                                                <div class="card-footer">
                                                    <!--<a class="btn-primary btn px-4 ml-lg-4" href="#">Learn More</a>-->
                                                    <button type="button" class="btn btn-sm bg-dark text-white" data-toggle="modal" data-target="#CloudDataPlatformArchitecture"><small>Learn More</small></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="badge">
                                            <div class="card">
                                                <div class="card-header text-dark text-wrap text-center">
                                                    Analytics Dashboards & Business Intelligence
                                                </div>
                                                <div class="card-body">
                                                    <small class="text-dark text-wrap">Develop executive-level dashboards and reporting systems that provide real-time visibility into operations, financial performance, and key metrics.</small>
                                                    <hr>
                                                    <small class="text-dark text-wrap">Deliverables: Tableau, Power BI, or custom dashboards; KPI frameworks; analytics data models.</small>
                                                    
                                                </div>
                                                <div class="card-footer">
                                                    <!--<a class="btn-primary btn px-4 ml-lg-4" href="#">Learn More</a>-->
                                                    <button type="button" class="btn btn-sm bg-dark text-white" data-toggle="modal" data-target="#AnalyticsDashboardsBusinessIntelligence"><small>Learn More</small></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="badge">
                                            <div class="card">
                                                <div class="card-header text-dark text-wrap text-center">
                                                    Custom Web Applications & Backend Systems
                                                </div>
                                                <div class="card-body">
                                                    <small class="text-dark text-wrap">Develop secure, scalable backend systems and full-stack applications using Django, FastAPI, ASP.NET Core, and modern cloud infrastructure.</small>
                                                    <hr>
                                                    <small class="text-dark text-wrap">Deliverables: Custom web platforms, APIs, authentication systems, database architecture.</small>
                                                    
                                                </div>
                                                <div class="card-footer">
                                                    <!--<a class="btn-primary btn px-4 ml-lg-4" href="#">Learn More</a>-->
                                                    <button type="button" class="btn btn-sm bg-dark text-white" data-toggle="modal" data-target="#CustomWebApplicationsBackendSystems"><small>Learn More</small></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="badge">
                                            <div class="card">
                                                <div class="card-header text-dark text-wrap text-center">
                                                    API Integration & Workflow Automation
                                                </div>
                                                <div class="card-body">
                                                    <small class="text-dark text-wrap">Integrate disparate systems and automate workflows across enterprise platforms such as Salesforce, cloud services, and internal tools to eliminate manual processes.</small>
                                                    <hr>
                                                    <small class="text-dark text-wrap">Deliverables: API integrations, automation pipelines, event-driven workflows, system synchronization.</small>
                                                    
                                                </div>
                                                <div class="card-footer">
                                                    <!--<a class="btn-primary btn px-4 ml-lg-4" href="#">Learn More</a>-->
                                                    <button type="button" class="btn btn-sm bg-dark text-white" data-toggle="modal" data-target="#APIIntegrationWorkflowAutomation"><small>Learn More</small></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="badge">
                                            <div class="card">
                                                <div class="card-header text-dark text-wrap text-center">
                                                    Data Strategy & Technical Consulting
                                                </div>
                                                <div class="card-body">
                                                    <small class="text-dark text-wrap">Advise organizations on how to structure, manage, and scale their data and software infrastructure to support growth, analytics, and product development.</small>
                                                    <hr>
                                                    <small class="text-dark text-wrap">Deliverables: Architecture plans, data models, system audits, implementation roadmaps.</small>
                                                    
                                                </div>
                                                <div class="card-footer">
                                                    <!--<a class="btn-primary btn px-4 ml-lg-4" href="#">Learn More</a>-->
                                                    <button type="button" class="btn btn-sm bg-dark text-white" data-toggle="modal" data-target="#DataStrategyTechnicalConsulting"><small>Learn More</small></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Data Engineering & Pipeline Development-->
                        <div id="DataEngineeringPipelineDevelopment" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title font-weight-bold">Data Engineering & Pipeline Development</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="font-weight-bold">Overview</h6>
                                        <p class="text-dark">
                                            Build automated data pipelines that reliably collect, transform, and store data from APIs, databases, files, or streaming systems into structured, analytics-ready datasets. These pipelines eliminate manual data handling and create the foundation for reporting, dashboards, applications, and analytics.
                                        </p>
                                        <h6 class="font-weight-bold">What this enables</h6>
                                        <p class="text-dark">
                                            Organizations gain continuous access to clean, reliable data without manual intervention. Pipelines ensure data is always up-to-date, structured correctly, and immediately usable for operational reporting and decision-making.
                                        </p>
                                        <h6 class="font-weight-bold">What this enables</h6>
                                        <ul>
                                            <li class="list-item text-dark">Connect to data sources such as APIs, databases, or cloud storage</li>
                                            <li class="list-item text-dark">Extract and ingest data into centralized storage</li>
                                            <li class="list-item text-dark">Normalize and transform raw data into structured relational schemas</li>
                                            <li class="list-item text-dark">Implement automated scheduling for continuous updates</li>
                                            <li class="list-item text-dark">Apply validation checks to ensure data quality and consistency</li>
                                        </ul>
                                        <h6 class="font-weight-bold">Deliverables</h6>
                                        <ul>
                                            <li class="list-item text-dark">Production-ready ingestion pipeline (Python and SQL)</li>
                                            <li class="list-item text-dark">Structured data warehouse tables</li>
                                            <li class="list-item text-dark">Automated execution scheduling (AWS, Azure)</li>
                                            <li class="list-item text-dark">Data transformation and validation logic</li>
                                            <li class="list-item text-dark">Deployment and maintenance documentation</li>
                                        </ul>
                                        <h6 class="font-weight-bold">Outcomes</h6>
                                        <ul>
                                            <li class="list-item text-dark">Eliminate manual data processing workflows</li>
                                            <li class="list-item text-dark">Improve data reliability and accessibility</li>
                                            <li class="list-item text-dark">Enable reporting, analytics, and application integration</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn-primary btn px-4 ml-lg-4" href="#">Request</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Cloud Data Platform Architecture-->
                        <div id="CloudDataPlatformArchitecture" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title font-weight-bold">Cloud Data Platform Architecture</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="font-weight-bold">Overview</h6>
                                        <p class="text-dark">
                                            Design and deploy scalable cloud infrastructure to securely store, manage, and access organizational data. This service establishes the foundation for analytics, applications, and operational systems.
                                        </p>
                                        <h6 class="font-weight-bold">What this enables</h6>
                                        <p class="text-dark">
                                            Organizations gain a centralized, secure, and scalable data environment that supports analytics, software applications, and future growth.
                                        </p>
                                        <h6 class="font-weight-bold">Scope of Work</h6>
                                        <ul>
                                            <li class="list-item text-dark">Design database architecture optimized for performance and scalability</li>
                                            <li class="list-item text-dark">Deploy cloud infrastructure on AWS or Azure</li>
                                            <li class="list-item text-dark">Configure relational databases and storage layers</li>
                                            <li class="list-item text-dark">Implement access controls and security policies</li>
                                            <li class="list-item text-dark">Configure infrastructure for reliability and scalability</li>
                                        </ul>
                                        <h6 class="font-weight-bold">Deliverables</h6>
                                        <ul>
                                            <li class="list-item text-dark">Fully deployed cloud database environment</li>
                                            <li class="list-item text-dark">Storage architecture implementation (S3, Blob Storage, or warehouse)</li>
                                            <li class="list-item text-dark">Secure access configuration and authentication setup</li>
                                            <li class="list-item text-dark">Architecture diagrams and documentation</li>
                                            <li class="list-item text-dark">Deployment configuration and operational guidelines</li>
                                        </ul>
                                        <h6 class="font-weight-bold">Outcomes</h6>
                                        <ul>
                                            <li class="list-item text-dark">Centralized and secure data infrastructure</li>
                                            <li class="list-item text-dark">Scalable foundation for analytics and applications</li>
                                            <li class="list-item text-dark">Improved system reliability and performance</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn-primary btn px-4 ml-lg-4" href="#">Request</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Analytics Dashboards & Business Intelligence-->
                        <div id="AnalyticsDashboardsBusinessIntelligence" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title font-weight-bold">Analytics Dashboards & Business Intelligence</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="font-weight-bold">Overview</h6>
                                        <p class="text-dark">
                                            Develop interactive dashboards and reporting systems that transform raw data into clear, actionable insights for leadership and operational teams.
                                        </p>
                                        <h6 class="font-weight-bold">What this enables</h6>
                                        <p class="text-dark">
                                            Organizations gain visibility into key performance indicators, operational metrics, and business trends through real-time dashboards.
                                        </p>
                                        <h6 class="font-weight-bold">Scope of Work</h6>
                                        <ul>
                                            <li class="list-item text-dark">Define key metrics and reporting requirements</li>
                                            <li class="list-item text-dark">Design relational data models optimized for reporting</li>
                                            <li class="list-item text-dark">Develop dashboards using Tableau, Power BI, or web applications</li>
                                            <li class="list-item text-dark">Connect dashboards to live production data sources</li>
                                            <li class="list-item text-dark">Configure secure access and sharing</li>
                                        </ul>
                                        <h6 class="font-weight-bold">Deliverables</h6>
                                        <ul>
                                            <li class="list-item text-dark">Interactive dashboard system</li>
                                            <li class="list-item text-dark">SQL queries and data models</li>
                                            <li class="list-item text-dark">KPI definitions and reporting framework</li>
                                            <li class="list-item text-dark">Dashboard deployment and access setup</li>
                                            <li class="list-item text-dark">Documentation and usage guide</li>
                                        </ul>
                                        <h6 class="font-weight-bold">Outcomes</h6>
                                        <ul>
                                            <li class="list-item text-dark">Real-time insight into operational performance</li>
                                            <li class="list-item text-dark">Improved decision-making through data visibility</li>
                                            <li class="list-item text-dark">Reduced reliance on manual reporting</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn-primary btn px-4 ml-lg-4" href="#">Request</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Custom Web Applications & Backend Systems-->
                        <div id="CustomWebApplicationsBackendSystems" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title font-weight-bold">Custom Web Applications & Backend Systems</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="font-weight-bold">Overview</h6>
                                        <p class="text-dark">
                                            Design and develop secure, scalable web applications and backend systems tailored to organizational workflows and product requirements.
                                        </p>
                                        <h6 class="font-weight-bold">What this enables</h6>
                                        <p class="text-dark">
                                            Organizations can launch custom platforms, automate workflows, and deliver software products built specifically for their operational needs.
                                        </p>
                                        <h6 class="font-weight-bold">Scope of Work</h6>
                                        <ul>
                                            <li class="list-item text-dark">Design backend system architecture</li>
                                            <li class="list-item text-dark">Implement secure APIs and application logic</li>
                                            <li class="list-item text-dark">Develop relational database schemas</li>
                                            <li class="list-item text-dark">Deploy applications to cloud infrastructure</li>
                                            <li class="list-item text-dark">Implement authentication and access control systems</li>
                                        </ul>
                                        <h6 class="font-weight-bold">Deliverables</h6>
                                        <ul>
                                            <li class="list-item text-dark">Production-ready backend system (Django, ASP.NET Core)</li>
                                            <li class="list-item text-dark">Database architecture and schema implementation</li>
                                            <li class="list-item text-dark">Secure authentication system</li>
                                            <li class="list-item text-dark">Cloud deployment and infrastructure setup</li>
                                            <li class="list-item text-dark">API documentation and system documentation</li>
                                        </ul>
                                        <h6 class="font-weight-bold">Outcomes</h6>
                                        <ul>
                                            <li class="list-item text-dark">Launch custom software platforms</li>
                                            <li class="list-item text-dark">Automate operational workflows</li>
                                            <li class="list-item text-dark">Support scalable product development</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn-primary btn px-4 ml-lg-4" href="#">Request</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal API Integration & Workflow Automation-->
                        <div id="APIIntegrationWorkflowAutomation" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title font-weight-bold">API Integration & Workflow Automation</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="font-weight-bold">Overview</h6>
                                        <p class="text-dark">
                                            Integrate external systems and automate workflows to eliminate manual processes and ensure seamless data synchronization across platforms.
                                        </p>
                                        <h6 class="font-weight-bold">What this enables</h6>
                                        <p class="text-dark">
                                            Organizations can connect systems, automate operations, and maintain consistent data across applications.
                                        </p>
                                        <h6 class="font-weight-bold">Scope of Work</h6>
                                        <ul>
                                            <li class="list-item text-dark">Connect systems via REST APIs or cloud services</li>
                                            <li class="list-item text-dark">Implement automated data synchronization pipelines</li>
                                            <li class="list-item text-dark">Design integration workflows and processing logic</li>
                                            <li class="list-item text-dark">Configure automation scheduling and monitoring</li>
                                            <li class="list-item text-dark">Implement error handling and logging mechanisms</li>
                                        </ul>
                                        <h6 class="font-weight-bold">Deliverables</h6>
                                        <ul>
                                            <li class="list-item text-dark">API integration implementation</li>
                                            <li class="list-item text-dark">Automated workflow pipeline</li>
                                            <li class="list-item text-dark">Data synchronization logic</li>
                                            <li class="list-item text-dark">Monitoring and error handling systems</li>
                                            <li class="list-item text-dark">Deployment and documentation</li>
                                        </ul>
                                        <h6 class="font-weight-bold">Outcomes</h6>
                                        <ul>
                                            <li class="list-item text-dark">Eliminate manual data transfer</li>
                                            <li class="list-item text-dark">Improve operational efficiency</li>
                                            <li class="list-item text-dark">Ensure consistent and reliable data across systems</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn-primary btn px-4 ml-lg-4" href="#">Request</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="DataStrategyTechnicalConsulting" class="modal fade" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title font-weight-bold">Data Strategy & Technical Consulting</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <h6 class="font-weight-bold">Overview</h6>
                                        <p class="text-dark">
                                            Provide expert guidance on designing, optimizing, and scaling data platforms and software infrastructure to support organizational growth.
                                        </p>
                                        <h6 class="font-weight-bold">What this enables</h6>
                                        <p class="text-dark">
                                            Organizations gain a clear technical roadmap and architecture strategy aligned with their business goals.
                                        </p>
                                        <h6 class="font-weight-bold">Scope of Work</h6>
                                        <ul>
                                            <li class="list-item text-dark">Evaluate existing systems and infrastructure</li>
                                            <li class="list-item text-dark">Design scalable data architecture</li>
                                            <li class="list-item text-dark">Recommend database and platform technologies</li>
                                            <li class="list-item text-dark">Identify performance and scalability improvements</li>
                                            <li class="list-item text-dark">Provide implementation roadmap</li>
                                        </ul>
                                        <h6 class="font-weight-bold">Deliverables</h6>
                                        <ul>
                                            <li class="list-item text-dark">Architecture design and recommendations</li>
                                            <li class="list-item text-dark">Data model and infrastructure plan</li>
                                            <li class="list-item text-dark">System audit and technical assessment</li>
                                            <li class="list-item text-dark">Implementation roadmap</li>
                                            <li class="list-item text-dark">Technical documentation</li>
                                        </ul>
                                        <h6 class="font-weight-bold">Outcomes</h6>
                                        <ul>
                                            <li class="list-item text-dark">Clear strategy for scaling systems</li>
                                            <li class="list-item text-dark">Reduced technical risk</li>
                                            <li class="list-item text-dark">Improved infrastructure performance and reliability</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <a class="btn-primary btn px-4 ml-lg-4" href="#">Request</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
            </div>
            <!--<div id="layoutDefault_footer">
                    <div class="container">
                        <div class="row py-5">
                            <div class="col-lg-3">
                                <div class="footer-brand text-gradient">Jose R. Dominguez</a></div>
                                <div class="mb-3 text-gradient">Dev Sevices</div>
                                <div class="icon-list-social mb-5  text-gradient">
                                    <a class="icon-list-social-link" href="https://www.instagram.com/digitalstudio.dev/">
                                        <i class="fab fa-instagram text-dark"></i>
                                    </a>
                                    <a class="icon-list-social-link" href="https://github.com/digitalstudiodev">
                                        <i class="fab fa-github text-dark"></i>
                                    </a>
                                    <a class="icon-list-social-link" href="https://www.linkedin.com/company/digitalstudio-dev/">
                                        <i class="fab fa-linkedin text-dark"></i>
                                    </a>
                                    <a class="icon-list-social-link" href="https://medium.com/digital-studio-stream">
                                        <i class="fab fa-medium text-dark"></i>
                                    </a>
                                    <a class="icon-list-social-link" href="https://www.youtube.com/channel/UCjFGpMrV6GVAYIXG_lbX45g">
                                        <i class="fab fa-youtube text-dark"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row">

                                </div>
                            </div>
                        </div>
                        <hr class="my-5" />
                        <div class="row align-items-center">
                            <div class="col-md-6 small">Copyright &copy; <a href="{% url 'blog:content' %}">Jose Dominguez</a> 2020</div>
                        </div>
                    </div>
                </footer>
            </div>-->
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts2.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile',
                duration: 600,
                once: true
            });
        </script>
        <!--tidio chat-->
        <!--<script src="//code.tidio.co/qzfkiwrck3nn8mca1plltw5if2pn1wau.js" async></script>-->
    
    </body>
</html>