{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link href="{% static 'css/style3.css' %}" rel="stylesheet" />
        <!--font-->
        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">        
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
        <!--markdown form editor style-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <style>
            .tech-font {
                font-family: 'Share Tech Mono', monospace;
            }
            pre:first-child code {
                display: none;
            }
        </style>
        <!--media.net ad link-->
        <script type="text/javascript">
            window._mNHandle = window._mNHandle || {};
            window._mNHandle.queue = window._mNHandle.queue || [];
            medianet_versionId = "3121199";
        </script>
        <script src="https://contextual.media.net/dmedianet.js?cid=8CUY19ATC" async="async"></script>
        <!--tidio chat service-->
        <script src="//code.tidio.co/5fsqwb58lxonbd2ojswgdw7ethazv2uj.js" async></script>
        <!-- font awesome icons -->
        <script src="https://kit.fontawesome.com/8c746061a5.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
        <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    {% block nav %}
                    {% endblock nav %}
                    {% block content %}
                    {% endblock content %}
                </main>
            </div>
            
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.0.0/marked.min.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function(){
                $('.content-markdown').each(function(){
                    var content = $(this).text()
                    var markedContent = marked(content)
                    console.log(markedContent)
                    $(this).html(markedContent)
                })
            })
        </script>
    </body>
</html>
