{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <!--font-->
        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">        
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
        <!--markdown form editor style-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <style>
            .tech-font {
                font-family: 'Share Tech Mono', monospace;
            }
            pre:first-child code {
                display: none;
            }
        </style>
        <!--google adsense link-->
        <script data-ad-client="ca-pub-9830295599870480" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <nav class="navbar navbar-marketing navbar-expand-lg bg-dark navbar-dark fixed-top">
                        <div class="container">
                            <a class="navbar-brand text-white text-uppercase tech-font" href="{% url 'blog:home' %}">
                                <span class="text-uppercase">Stream</span>
                                <span class="badge badge-pill badge-light">Blog</span>
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto mr-lg-5">
                                    <li class="nav-item"><a class="nav-link" href="{% url 'store:store-home' %}">Shop</a></li>
                                    {% if user.is_authenticated %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'users:profile' %}">Profile</a></li>
                                    {% endif %}
                                </ul>
                                {% if user.is_authenticated %}
                                <a class="btn-danger btn rounded-pill px-4 ml-lg-4" href="{% url 'users:logout' %}">Logout<i class="fas fa-sign-out-alt"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </nav>
                    {% block content %}
                    {% endblock content %}
                </main>
            </div>
            <div id="layoutDefault_footer">
                <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="footer-brand text-white text-uppercase tech-font">Stream&nbsp;<span class="badge badge-pill badge-light">Blog</span></a></div>
                                <div class="mb-3">Sharing concepts, ideas, and code.</div>
                                <div class="icon-list-social mb-5">
                                    <a class="icon-list-social-link" href="https://www.instagram.com/digitalstudio.dev/">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a class="icon-list-social-link" href="https://www.facebook.com/digitalstudio.dev/">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                    <a class="icon-list-social-link" href="https://github.com/digitalstudiodev">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a class="icon-list-social-link" href="https://www.linkedin.com/company/digitalstudio-dev/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                    <a class="icon-list-social-link" href="https://medium.com/digital-studio-stream">
                                        <i class="fab fa-medium"></i>
                                    </a>
                                    <a class="icon-list-social-link" href="https://www.youtube.com/channel/UCjFGpMrV6GVAYIXG_lbX45g">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 ml-auto">
                                        <div class="text-uppercase-expanded text-xs mb-4">Stream</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="{% url 'blog:home' %}">Home</a></li>
                                            <li class="mb-2"><a href="https://medium.com/digital-studio-stream">Medium</a></li>
                                            <li class="mb-2"><a href="{% url 'store:store-home' %}">Shop</a></li>
                                        </ul>
                                        <div class="text-uppercase-expanded text-xs my-4">Admin</div>
                                        <ul class="list-unstyled mb-0">
                                            {% if request.user.is_authenticated %}
                                                <li class="mb-4"><a href="{% url 'users:profile' %}">Profile</a></li>
                                                <li class="mb-4"><a href="{% url 'users:logout' %}">Logout</a></li>
                                            {% else %}
                                                <li class="mb-4"><a href="{% url 'users:login' %}">Login</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="text-uppercase-expanded text-xs mb-4">Digital Studio</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="http://digitalstudio.dev">Home</a></li>
                                            <li class="mb-2"><a href="http://digitalstudio.dev/contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-5" />
                        <div class="row align-items-center">
                            <div class="col-md-6 small">Copyright &copy; <a href="https://digitalstudio.dev/">Digital Studio</a> 2020</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.0.0/marked.min.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function(){
                $('.content-markdown').each(function(){
                    var content = $(this).text()
                    var markedContent = marked(content)
                    console.log(markedContent)
                    $(this).html(markedContent)
                })
            })
        </script>
    </body>
</html>
