{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<header class="page-header mt-5">
    <div class="page-header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-10 m-auto">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="ml-3">Options</h6>
                            <hr />
                            <div class="d-flex mb-4">
                                <div class="ml-3">
                                    <a class="text-dark" href="{% url 'blog:post-create' %}"><h6 class="mb-1">Create New Blog Post</h6></a>
                                </div>
                            </div>
                            <div class="d-flex mb-4">
                                <div class="ml-3">
                                    <a class="text-dark" href="{% url 'users:profile-update' %}"><h6 class="mb-1">Update User Info</h6></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock content %}

{% block extra_scripts %}
{% endblock extra_scripts %}