{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<header class="page-header page-header-dark bg-dark bg-img-cover overlay overlay-dark overlay-80" style='background-image: url({% static "assets/img/code_header.jpeg" %})'>
<div class="svg-border-rounded text-light">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>
<section class="bg-light py-10">
    <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{  message.tags }} my-5" style="border-radius: 2rem;">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-xl-10 m-auto">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="ml-3">Options</h6>
                            <hr />
                            <div class="d-flex mb-4">
                                <div class="ml-3">
                                    <a class="text-dark" href="{% url 'blog:post-create' %}"><h6 class="mb-1">Create New Blog Post</h6></a>
                                </div>
                            </div>
                            <div class="d-flex mb-4">
                                <div class="ml-3">
                                    <a class="text-dark" href="{% url 'store:item-create' %}"><h6 class="mb-1">Create New Store Item</h6></a>
                                </div>
                            </div>
                            <div class="d-flex mb-4">
                                <div class="ml-3">
                                    <a class="text-dark" href="{% url 'users:profile-update' %}"><h6 class="mb-1">Update User Info</h6></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
{% endblock content %}

{% block extra_scripts %}
{% endblock extra_scripts %}